# Copyright (C) 2023-2025 Daniel Mueller <deso@posteo.net>
# SPDX-License-Identifier: GPL-3.0-or-later

name: Build

on:
  workflow_call:
    inputs:
      upload-release:
        description: 'The release to upload artifacts to, if any'
        default: ''
        required: false
        type: string
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Please update the test workflow cross-compile matrix when adding a new
        # target here.
        target: [
          arm-unknown-linux-musleabi,
          armv7-unknown-linux-musleabihf,
          x86_64-unknown-linux-musl,
        ]
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
      - run: |
          CARGO_PROFILE_RELEASE_DEBUG=false CARGO_PROFILE_RELEASE_STRIP=true cargo install --bin=btrfs-backup --path=. --root=. --target ${{ matrix.target }}
      - uses: actions/upload-artifact@v5
        with:
          name: btrfs-backup-${{ matrix.target }}
          path: bin/btrfs-backup
      - if: ${{ inputs.upload-release != '' }}
        name: Upload release asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mv bin/btrfs-backup btrfs-backup-${{ matrix.target }}
          gh release upload ${{ inputs.upload-release }} btrfs-backup-${{ matrix.target }}
